<footer class="site-footer h-card fixed-bottom">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="container">

    <div class="text-center">
      <small class="text-muted">2009 - {{"now" |  date: "%Y" }} &copy; www.anarsamadov.net </small>
    </div>

  </div>

</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/particles.min.js"></script>
<script>
  particlesJS.load('particles-js', '/js/particlesjs-config.json', function() {
    console.log('callback - particles.js config loaded');
  });
</script>
